<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Login</title>
</head>
<body class="bg-light">
    <section class="container-fluid">
        <div class="row mt-5">
            <div class="col col-sm-6 col-md-3 border mx-auto px-4 bg-white shadow">
                <h1 class="text-center mt-3 mb-3">Iniciar sesión</h1>
                <form action="{{url_for('login')}}" class="" method="post">
                    <div class="mb-2">
                      <input type="text" name="user" class="form-control rounded-0" id="user" aria-describedby="emailHelp" placeholder="Teléfono, usuario o correo electrónico">
                    </div>
                    <div class="mb-3">
                      <input type="password" name="password" class="form-control rounded-0" id="password" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 w-100 rounded-0">Entrar</button>
                </form>
                <section>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </section>
                <hr class="mt-1">
                <div  class="text-center pb-3">
                    <a class="text-center text-decoration-none" href="{{url_for('recover')}}"><small>¿Haz olvidado la contraseña?</small></a>
                </div>
            </div> 
        </div>
        <div class="row mt-3">
            <div class="col col-sm-6 col-md-3 border mx-auto px-4 bg-white shadow">
                <p class="text-center pt-2">¿No tienes una cuenta? <a class="text-decoration-none" href="{{url_for('register')}}">Regístrate</a></p>
            </div>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>